@{
    var category = Page_Context.Current.PageRequestContext.AllQueryString["Category"];
}
<h1 class="title">@Html.FrontHtml().PageLink("Back", "Articles", new { UserKey = category }, new { @class = "back" })Article</h1>