<?xml version="1.0"?>
<menu>
  <items>
    <add name="Crawler" text="Crawler" action="Index" controller="Home" visible="true"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleControllerActionMenuItemInitializer,Kooboo.CMS.Toolkit" permissionArea="Contents" permissionGroup="" permissionName="Content" />
  </items>
</menu>