<Role xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Account.Models">
	<Name>Leader</Name>
	<Permissions>
		<Permission>
			<AreaName>Contents</AreaName>
			<DisplayName>Content</DisplayName>
			<Group></Group>
			<Id>Contents__Content</Id>
			<Name>Content</Name>
			<Role i:nil="true" />
			<RoleName i:nil="true" />
		</Permission>
	</Permissions>
</Role>