<h1 class="title">
    @if (ViewBag.Category != null)
    {
        @ViewBag.Category.Title
    }
    else
    {
        @MenuHelper.Current().LinkText.Label()
    }
</h1>
<div class="searchbox">
    <form action="@Url.FrontUrl().PageUrl("search")" method="get">
        <input type="text" name="key" value="@Page_Context.Current.PageRequestContext.AllQueryString["key"]" />
        <button type="submit">Search</button>
    </form>
</div>